
.demo-wrap {
    overflow: hidden;
    position: relative;
    height: 300px;
  }
  
.demo-bg {
    opacity: 0.4;
    position: absolute;
    position: center;
    left: 0;
    top: 0;
    width: 100%;
  }
  
.demo-content {
    position: relative;
  }
  h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
    color: white;
    font-weight: bold;
  }
  .premier{
    width: 400px;
    width: 200px;
  }